body{
font-family:Arial;
background:#111;
color:white;
padding:20px;
}

#preview{
position:relative;
width:960px;
height:540px;
background:black;
border:2px solid #555;
}

.widget{
position:fixed;
width:25vw;
height:15vh;
border:2px dashed white;
left:100px;
top:100px;
}

.dragHandle{
height:25px;
background:rgba(0,0,0,0.7);
color:white;
font-size:12px;
display:flex;
align-items:center;
padding-left:8px;
cursor:move;
touch-action:none;
}

.widget iframe{
width:100%;
height:calc(100% - 25px);
border:none;
}
